@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Slab);
* {
    margin: 0;
    padding: 0;
}
.mainHeader {
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-size: 40px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.5);
    margin-bottom: 50px;
    font-family: "Roboto Slab", sans-serif;
}
.quote {
    font-family: "Robobo Slab", sans-serif;
    font-size: 35px;
    text-align: center;
}
.mainHeaderBtns{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 130px;
    line-height: 130px;
}
.button {
    width: 8em;
    height: 2.4em;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgba(0,0,0,0);
    background: white;
    border-radius: 10px;
    transition: border .25s;
}
.button:hover {
    border: 1px solid rgba(0,0,0,0.3);
}
.button.blue {
    background-color: #113399;
}