<!DOCTYPE HTML>
<html>
	<head>
		<title>Your lists! - MijnGroenteman</title>
        <script type="text/javascript" src="lib/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="lib/js.cookie.js"></script>
        <script type="text/javascript" src="js/lists.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/lists.css"/>
	</head>
	<body>
    <header class="mainHeader">
        <div class="fontSizeContainer noselect">
            <label id="fontMinus" class="noselect" data-val="-1">-</label>
            <label id="fontPlus" class="noselect" data-val="1">+</label>
        </div>
			<h1>Your todo lists</h1>
			<a href="index.html"><button class="button red" id="logoutBtn">Logout</button></a>
		</header>
		<div class="contentLists">
			<div class="popupBg" style="display: none;">
                <div class="popupContent" id="addListPopup" style="display: none;">
                    <form id="addListForm">
                        <span>Please give the name for the new list:</span>
                        <input type="text" placeholder="Name" id="addListName" />
                        <button class="button green" id="addListBtn">Add List</button>
                        <button class="button red" id="cancelAddListBtn">Cancel</button>
                    </form>
                </div>
            </div>
            <div class="list">
                <div class="listSorting">
                    <span>Sort by:</span>
                    <select id="sort_type">
                        <option>Priority</option>
                        <option>Duedate</option>
                    </select>
                    <select id="sort_order">
                        <option>Ascending</option>
                        <option>Descending</option>
                    </select>
                    <button id="sort_todos">Sort</button>
                    <button onclick="window.todos.updateDatabase();">Update Database</button>
                </div>
                <ul class="listEntries" id="listEntries">
                    <%todo_array.forEach( function(todo){ %>
                    <li class="<%=todo.getClass%>">
                        <input type="text" value="<%=todo.title%>" class="todoTitle" style="font-size: 20px">
                        <i class="btnDelete material-icons">delete</i>
                        <select id="priority">
                            <option value="0">Note</option>
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                        </select>
                        <textarea typeof="text" class="todoValue"><%=todo.text%></textarea>
                        <input id="dateInput" type="date" value="<%=todo.duedate*1000%>">
                        <input type="checkbox" class="donecheck">Done
                    </li>
                    <%})%>
                </ul>
                <i class="material-icons" id="addTodoBtn">add_circle</i>
            </div>
		</div>
	</body>
</html>